<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="wsINDAABIN.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IWS_BUS" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://200.76.24.107/BusServices_Ares/WS_BUS.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWS_BUS"
                contract="INDAABINService.IWS_BUS" name="BasicHttpBinding_IWS_BUS" />
        </client>
    </system.serviceModel>
    <applicationSettings>
        <wsINDAABIN.Properties.Settings>
            <setting name="INDAABINUsr" serializeAs="String">
                <value>anaya@col.gob.mx</value>
            </setting>
            <setting name="INDAABINPwd" serializeAs="String">
                <value>pE0PL3*.76603</value>
            </setting>
        </wsINDAABIN.Properties.Settings>
    </applicationSettings>
</configuration>